@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

:root{
    --cor-padrão:#4f6415;
    --cor-padrão-hover:rgba(113, 194, 8, 0.849);
    --cor-fonte:#fff;
    --cor-fonte-p:#555;
    --cor-btn:rgb(3, 53, 6);
    --cor-btn-hover:rgb(19, 109, 25);
    --cor-btn-fonte:#000;
    --cor-fonte-corpo:#555;
    --cor-fonte-corpo-leve:#777;
}

body{
    font-family: 'Lexend Giga', sans-serif;

}

.banner{
    background: radial-gradient(var(--cor-padrão-hover), var(--cor-padrão));
}

.banner .linha{
    margin-top: 70px;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: center;
}

nav ul{
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: var(--cor-fonte);
}

.banner p{
    color: var(--cor-fonte);
}

p{
    color: var(--cor-fonte-p)
}

.linha{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}