@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

:root{
    --cor-padrão:#1e5320;
    --cor-padrão-hover:#91be13;
    --cor-fonte:#1F2937;
    --cor-fonte-p:#4B5563;
    --cor-btn:#F59E0B;
    --cor-btn-hover:#ff7b00;
    --cor-btn-fonte:#FFFFFF;
    --cor-fonte-corpo:#374151;
    --cor-fonte-corpo-leve:#9CA3AF;
}

body{
    font-family: 'Lexend Giga', sans-serif;

}

.banner{
    background: radial-gradient(var(--cor-padrão-hover), var(--cor-padrão));
}

.banner .linha{
    margin-top: 70px;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: center;
}

nav ul{
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: var(--cor-fonte);
}

.banner p{
    color: var(--cor-fonte);
}

p{
    color: var(--cor-fonte-p)
}

.linha{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 15px 0;
}

.col-2 p{
    font-weight: 600;
    color:var(--cor-btn-fonte);
}

.btn{
    text-decoration: none;
    color:var(--cor-btn-fonte);
    background:var(--cor-btn);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: var(--cor-btn-hover);
    color: var(--cor-btn-fonte);
}

.categorias{
    margin: 70px 0;
}

.corpo-categorias{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-3{
    flex-basis: 30%;
    max-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.col-4{
    flex-basis: 25%;
    max-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
    transition: transform 0.5s;

}

.col-4:hover{
    transform: scale(1.1);
}

.col-4 img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.Título{
    position: relative;
    line-height: 60px;
    margin: 0 auto 80px;
    text-align: center;
    color: var(--cor-fonte-corpo);
}

.Título::after{
    content: '';
    background-color: var(--cor-padrão);
    width: 80px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: var(--cor-fonte);
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.classificacao ion-icon{
    color: radial-gradient(var(--cor-padrão-hover), var(--cor-padrão));
}